/* set any default styles for all elements */
* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
/* 	https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.needpix.com%2Fphoto%2F1351342%2Fsky-cloud-blue-background-heaven-heavenly-white-day-pure&psig=AOvVaw3qOsWs8CeunZbdGDlIeja0&ust=1580351494118000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJDhsILjp-cCFQAAAAAdAAAAABAD
 */	background: url("../images/blue-sky.jpg") top center no-repeat;
	margin: 0 auto;
	padding-top: 15px;
	background-color:#6aabee;
	
}

p, body {
	font-weight: 700;
	font-size: 16px;
}

a img {
	border: 0 none;
}

img {
	border: 0 none;
}

img.carousel-imgs {
	width: 100%;
	overflow: hidden;
	margin:-21.875% 0;
}

.custom-caption {
	top: 10px;
}

a, a:visited, a:active, a:link {
	text-decoration: underline;
	color: #086e74;
}

a:hover {
	text-decoration: underline;
	color: red;
}

h1 {
	font-weight: 700;
	font-size: 32px;
	color: #e23b30;
}

h2 {
	font-weight: 700;
	font-size: 24px;
	color: #236eaa;
	line-height: 32px;
}

h3 {
	font-weight: 700;
	font-size: 18px;
	color: #236eaa;
	line-height: 28px;
}

h4 {
	font-weight: 700;
	font-size: 16px;
	color: #e23b30;
	line-height: 25px;
}

h4 a {
	color: #e23b30;
}

h5 {
	font-weight: 700;
	font-size: 16px;
	color: #236eaa;
	line-height: 25px;
}

.red {
	color: #e23b30;
}

.modal-title {
	font-weight: 700;
	font-size: 24px;
	color: #e23b30;
	line-height: 32px;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

header {
	max-height: 15%;
	width: 100%;
	text-align: center;
}

#logo {
	max-width: 75px;
	max-height: 75px;
}

.content {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	text-align: center;
	margin-top: 10px;
}

/* .table th, .table td {
	padding: .5rem;
} */
.btn-border-bottom {
	border-bottom: 2px solid white;
}

.stats-btn {
	display: inline-block;
	height: 100px;
}

.golfball-bullets {
	list-style-image: url('../images/golfballBullets.jpg');
	max-width: 3px;
	max-height: auto;
}

p.fancy-centered {
	font-family: cursive;
	text-align: center;
	font-size: 20px;
}
strong {
	color: #e23b30;
}

.hint-img {
	height:20px;
	width:auto;
}

.bold {
	font-weight: bold;
}
.stronger {
	font-weight: 900;
	color: white;
}

th {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
}

th, td {
	vertical-align: middle;
}