/* set any default styles for all elements */
* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	/* 	https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.needpix.com%2Fphoto%2F1351342%2Fsky-cloud-blue-background-heaven-heavenly-white-day-pure&psig=AOvVaw3qOsWs8CeunZbdGDlIeja0&ust=1580351494118000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJDhsILjp-cCFQAAAAAdAAAAABAD
 */
	background: url("../images/blue-sky.jpg") top center no-repeat fixed;
	margin: 0 auto;
	background-color: #6aabee;
	overscroll-behavior: none;
}

p, body {
	font-weight: 700;
	font-size: 16px;
}

.content {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	text-align: center;
}

article {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

main {
	flex-grow: 1;
	margin-top: 5px;
	margin-bottom: 5px;
}

header, main, footer {
	flex-shrink: 0;
}

header {
	width: 100%;
	text-align: center;
	top: 0;
	z-index: 999;
	position: sticky;
}

footer {
	position: sticky;
	bottom: 0;
	z-index: 999;
}

.border-container {
	height: 100%;
	width: 95%;
	margin: auto;
	background: rgba(106, 171, 238, 0.6);
	border: hidden;
	padding: 5px;
}

div.square-radius {
	border-radius: 10px;
	bottom-margin: 30px;
}

div.mid-header {
	background: rgba(106, 171, 238);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width:100%;
}

div.mid-footer {
	background: rgba(106, 171, 238);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width:100%;
}

.footer-message {
	font-size: 10px;
}

img {
	border: 0 none;
}


a img {
	border: 0 none;
}

img.carousel-imgs {
	width: 100%;
	overflow: hidden;
	margin: -21.875% 0;
}

.custom-caption {
	top: 10px;
}

a, a:visited, a:active, a:link {
	text-decoration: underline;
	color: #086e74;
}

a:hover {
	text-decoration: underline;
	color: red;
}

h1 {
	font-weight: 700;
	font-size: 32px;
	color: #e23b30;
}

h2 {
	font-weight: 700;
	font-size: 24px;
	color: #236eaa;
	line-height: 32px;
}

h3 {
	font-weight: 700;
	font-size: 18px;
	color: #236eaa;
	line-height: 28px;
}

h4 {
	font-weight: 700;
	font-size: 16px;
	color: #e23b30;
	line-height: 25px;
}

h4 a {
	color: #e23b30;
}

h5 {
	font-weight: 700;
	font-size: 16px;
	color: #236eaa;
	line-height: 25px;
}

.red {
	color: #e23b30;
}

.modal-title {
	font-weight: 700;
	font-size: 24px;
	color: #e23b30;
	line-height: 32px;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

#logo {
	max-width: 75px;
	max-height: 75px;
}

.btn-border-bottom {
	border-bottom: 2px solid white;
}



.stats-btn {
	display: inline-block;
	height: 100px;
}

.golfball-bullets {
	list-style-image: url('../images/golfballBullets.jpg');
	max-width: 3px;
	max-height: auto;
}

p.fancy-centered {
	font-family: cursive;
	text-align: center;
	font-size: 20px;
}

strong {
	color: #e23b30;
}

.hint-img {
	height: 20px;
	width: auto;
}

.bold {
	font-weight: bold;
}

.stronger {
	font-weight: 900;
	color: white;
}

th {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
}

th, td {
	vertical-align: middle;
}

 @media (max-width: 767px) {
  .btn {
    min-height: 50px;
    background-image: 100%;
  } 
}

.btn-toolbar{
	width:90%;
}

.my-form-control {
	max-width:75px;
	display: inline-block;
	margin-bottom: 5px;
}